<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.deb.listeners.TestListener"/>
        <listener class-name="com.deb.listeners.MethodInterceptor"/>
        <listener class-name="com.deb.listeners.AnnotationTransformer"/>
    </listeners>
    <test parallel="methods" thread-count="2" name="D:/Practice Frameworks/MySeleniumFramework">
        <classes>
            <class name="com.deb.tests.LoginTest"/>
            <class name="com.deb.tests.HomePageTest"/>
        </classes>
    </test>
</suite>